<html lang="pt-br" >
  <head>
    <script src="static/js/angular.min.js"></script>
    <title>Chat Socket</title>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">    
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	  <!--Import Google Icon Font-->
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="static/js/jquery-1.11.2.min.js"></script>
    <script src="static/js/moment.min.js"></script> 
  	<script src="static/js/materialize.min.js"></script>
    <script src="static/js/index.js"></script>
  	<script src="static/js/sweetalert.min.js"></script>
  	<link rel="stylesheet" href="static/css/materialize.min.css">
  	<link rel="stylesheet" href="static/css/sweetalert.css">
    <link rel="stylesheet" href="static/css/index.css">  	
  </head>
  <body>
    <header >      
      <div class="navbar-fixed">
        <nav>   
          <div class="nav-wrapper teal lighten-2">
            <a href="#" class="brand-logo center">Chat Client App</a>
            <ul  class="right">
              <li>
                <div ng-show="showLogout" ng-click="alert('message');">
                  <a href="#" ><i class="material-icons" >input</i></a>
                </div>
              </li>
            </ul>
          </div>
        </nav>  
      </div>          
    </header>
    <div class="container" ng-controller="MainCtrl" ng-app="app">
      <div ng-show="showNameInput" class="card">
        <div class="card-content">
          <span class="card-title">Enter Name</span>
          <div class="input-field">
              <i class="material-icons prefix">account_circle</i>              
              <input type="text" id="name" ng-model="userName">             
              <label for="name">Enter your name here</label>
          </div>         
          <div class="row">
            <button ng-click="submitName(userName)" class="col s12 waves-effect waves-light btn">
              Join Chat
            </button>
          </div>
        </div>
      </div>
      <div ng-show="showChatScreen" class="card">
        <div class="card-content">
          <span class="card-title">
            Chatting as <strong><em>{{userName}}</em></strong>
          </span> 
          <div class="row">
            <div class="row">
              <div id="content" class="col s9" ng-model="content"></div>
              <div id="listUser" class="collection col s3" ng-model="listUser"></div>
            </div>
            <div class="row">
              <div class="input-field col s10">
                <i class="material-icons prefix">message</i>              
                <input type="text" id="message" ng-model="message" my-enter="sendMessage(message); message = ''">         
                <label for="message">Message</label>
              </div>
              <div class="input-field col s2">
                <a ng-click="sendMessage(message); message = ''" class="btn-floating btn-large waves-effect waves-light"><i class="material-icons">send</i></a>
              </div>
            </div>
          </div>       
        </div>
      </div> 
    </div>
  </body>  
</html>