<!DOCTYPE html>
<html class="no-js" lang="pt-br">
    <head>
        <script src="static/js/angular.min.js"></script>
        <title>Chat Socket</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">    
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--Import Google Icon Font-->
        <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="static/js/jquery-1.11.2.min.js"></script>
        <script src="static/js/moment.min.js"></script> 
        <script src="static/js/angular-nicescroll.js"></script>
        <script src="static/js/materialize.min.js"></script>
        <script src="static/js/modernizr-2.8.3-respond-1.4.2.min.js"></script>
        <script src="static/js/index.js"></script>
        <script src="static/js/sweetalert.min.js"></script>
        <script src="static/js/config.js"></script>
        <script src="static/js/util.js"></script>
        <script src="static/js/jquery.emojiarea.js"></script>
        <script src="static/js/emoji-picker.js"></script>
        <link rel="stylesheet" href="static/css/normalize.css">   
        <link rel="stylesheet" href="static/css/animate.css">
        <link rel="stylesheet" href="static/css/materialize.min.css">
        <link rel="stylesheet" href="static/css/sweetalert.css">
        <link rel="stylesheet" href="static/css/index.css">  	
        <link rel="stylesheet" href="static/css/emoji.css">
    </head>
    <body ng-controller="MainCtrl" ng-app="app" class="colorBackground">        
        <ul id="slide-out" class="side-nav colorBackground">
            <li>                
                <form class="colorPrimary" style="padding: 0.5em;">
                    <div class="card colorBackground cardRounded">
                        <div class="input-field">
                            <i class="material-icons prefix colorLabel" style="margin: 0.5rem;">search</i>
                            <input id="search" ng-model="search" class="colorLabel" type="search" required="" placeholder="Search a online user" style="padding-left:  0; border-bottom:  0; background:  transparent;">
                            <label for="search" class="active"></label>
                        </div>
                    </div>
                </form>
            </li>
            <li data-ng-repeat="user in userList | filter : search">
                <a href="javascript:void(0);" class="waves-effect colorAccent user" ng-click="chattingWith(user.userID)">
                    <i class="material-icons">account_circle</i>
                    {{user.userName}}
                </a>
                <div class="divider"></div>
            </li>
        </ul>
        <div class="navbar-fixed">
            <nav>   
                <div class="nav-wrapper colorPrimary">
                    <a href="javascript:void(0);" data-activates="slide-out" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>
                    <a href="javascript:void(0);" class="brand-logo"><span ng-hide="connected">Chat Socket</span><span class="connected" ng-show="connected"><h5>Chat Socket</h5><h6>Chatting as {{userName}}</h6></span></a>
                    <ul  class="right">
                        <li>
                            <div ng-click="logout()" ng-show="connected">
                            <a href="javascript:void(0);"><i class="material-icons" >input</i></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>  
        </div>
        <div id="modal-connect" class="modal colorBackground">
            <div class="modal-content">
                <h4 class="colorAccent">Enter name</h4>
                <div class="row">
                    <div class="input-field">
                      <i class="material-icons prefix">account_circle</i>
                      <input id="userName" ng-model="userName" my-enter="connect(userName)" type="text" class="validate" required>
                      <label for="userName" data-error="Empty user name">Enter your name here</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer colorBackground">          
            <a href="javascript:void(0);" ng-click="connect(userName)" class="waves-effect waves-green btn-flat colorAccent">Join Chat</a>
            <a href="javascript:window.history.back();" class="waves-effect waves-red btn-flat colorAccent">Cancel</a>
            </div>
        </div>         
        <div id="modal-loading" class="modal colorBackground">
            <div class="modal-content"> 
                <div class="row">
                    <div class="col s2">
                        <div class="preloader-wrapper active">
                            <div class="spinner-layer spinner-colorAccent">
                                <div class="circle-clipper left">
                                <div class="circle"></div>
                                </div><div class="gap-patch">
                                <div class="circle"></div>
                                </div><div class="circle-clipper right">
                                <div class="circle"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s10">
                        <p class="colorLabel">Loading...</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="modal-error" class="modal colorBackground">
            <div class="modal-content">
                <p class="colorLabel"></p>
            </div>
            <div class="modal-footer colorBackground">          
                <a id="okButttonError" href="javascript:void(0);" class="waves-effect btn-flat colorAccent" style="float: left;">OK</a>
            </div>
        </div> 
        <div class="row">
            <ul class="tabs colorPrimary">   
                <li class="tab col s6 m6"><a class="waves-effect active" href="#main-chat">Main Chat</a></li>
                <li class="tab col s6 m6"><a class="waves-effect" href="#private-chat">Private Chat</a></li>
            </ul>
        </div>
        <div id="main-chat" class="col s12 m12">
            <main class="content-messages">
                <ul ng-model="messagesView" class="messages">
                    <li data-ng-repeat="message in messages">
                        <div class="card z-depth-3 message animated fadeIn" ng-style="{background : message.color}" ng-class="{me: message.author == userName}">
                            <div class="card-image ">
                                <img class="materialboxed" src="{{message.image}}">
                                <span class="card-title" ng-hide="message.author == userName || message.content != null" ng-style="{color : message.color}" >{{message.author}}</span>
                            </div>
                            <div class="card-content white-text">
                                <span class="card-title" ng-hide="message.author == userName || message.content == null">{{message.author}}</span>
                                <span ng-bind-html="message.content|trustAsHtml"></span>
                                <span class="time">{{message.time}}</span>                                                
                            </div>
                        </div>
                    </li>                          
                </ul>  
            </main>
            <div class="scroll-bottom">
                <a ng-click="scrollToBottom();" class="btn-floating btn-large waves-effect waves-light center-align colorAccentBackgound"><i class="material-icons">keyboard_arrow_down</i></a>
            </div>
            <div class="row colorPrimary" style="margin-bottom: 0;position:fixed;bottom:0;left:0;width:100%;">
                <div class="col s9 m10 l11">
                    <div class="card colorBackground cardRounded wrapper-rounded wrapper-message">
                        <div class="input-field">
                            <input id="message" ng-model="message" my-enter="sendMessage(message); message='';" data-emojiable="true" class="inputMessage colorLabel" type="text" required="" placeholder="Type a Message">                                
                        </div>
                        <div>
                            <a ng-click="sendImage();" class="btn-floating btn-flat waves-effect waves-light center-align"><i class="material-icons">attach_file</i></a>
                        </div>
                    </div>   
                </div>
                <div>
                    <a ng-click="sendMessage(message); message='';" class="btn-floating btn-large waves-effect waves-light center-align colorAccentBackgound btnSend"><i class="material-icons">send</i></a>
                </div>
            </div>
        </div>
        <div id="private-chat" class="col s12 m12" style="padding: 0">
            <div class="colorPrimary wrapper-select-private-chat">
                <div class="card colorBackground cardRounded wrapper-rounded">
                    <div class="input-field">                                      
                        <select id="messagePrivateTo" ng-model="messagePrivateTo">   
                            <option value="" disabled selected>Choose your option</option>
                            <option ng-repeat="user in userList" value="{{user.userID}}">{{user.userName}}</option>
                        </select>
                    </div>  
                </div>
            </div>
            <main class="content-messages-private">
                <ul class="messages animated fade" ng-repeat="user in userList" ng-hide="chattingWithUser != user.userID">
                    <li data-ng-repeat="privateMessage in privateMessages[user.userID]">
                        <div class="card z-depth-3 message animated fadeIn" ng-style="{background : privateMessage.color}" ng-class="{me: privateMessage.author == userName}">
                            <div class="card-image material-boxed">
                                <img class="materialboxed" src="{{privateMessage.image}}">
                                <span class="card-title" ng-hide="privateMessage.author == userName || privateMessage.content != null" ng-style="{color : privateMessage.color}" >{{privateMessage.author}}</span>
                            </div>
                            <div class="card-content white-text">
                                <span class="card-title" ng-hide="privateMessage.author == userName || privateMessage.content == null">{{privateMessage.author}}</span>
                                <span ng-bind-html="privateMessage.content|trustAsHtml"></span>
                                <span class="time">{{privateMessage.time}}</span>                                                
                            </div>
                        </div>
                    </li>  
                </ul>
            </main>
            <div class="scroll-bottom-private">
                <a ng-click="scrollToBottomPrivate();" class="btn-floating btn-large scale-transition waves-effect waves-light center-align colorAccentBackgound"><i class="material-icons">keyboard_arrow_down</i></a>
            </div>
            <div class="row colorPrimary" style="margin-bottom: 0;position:fixed;bottom:0;left:0;width:100%;">
                <div class="col s9 m10 l11">
                    <div class="card colorBackground cardRounded wrapper-rounded wrapper-message">
                        <div class="input-field">
                            <input id="messagePrivate" ng-model="messagePrivate" my-enter="sendMessagePrivate(messagePrivate);" data-emojiable="true" class="inputMessage colorLabel" type="text" required="" placeholder="Type a Message">                                
                        </div>
                        <div>
                            <a ng-click="sendImagePrivate();" class="btn-floating btn-flat waves-effect waves-light center-align"><i class="material-icons">attach_file</i></a>
                        </div>
                    </div>   
                </div>
                <div>
                    <a ng-click="sendMessagePrivate(messagePrivate);"  class="btn-floating btn-large waves-effect waves-light center-align colorAccentBackgound btnSend"><i class="material-icons">send</i></a>
                </div>                
            </div>
        </div>
    </body>
</html>