html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}
#content, #content-private, #listUser {  
	margin-left:auto; 
	margin-right:auto;
	padding:5px; 
	overflow-y: scroll;
    border:1px solid #CCC; 
    margin-top:10px; 
    height: 100%; 
}
#main-chat, #private-chat {
    height: 100%
}
.colorPrimary{
	background: #252525;
}
.colorPrimaryDark{
	background:#1C1C1C;
}
.colorAccent{
	color:#1DE9C3;
}
.colorAccentBackgound{
	background:#1DE9C3;
}
.spinner-colorAccent{
	border-color:#1DE9C3;
}
.colorBackground{
	background:#383838;
}
.colorLabel{
	color:#BDBDBD;
}
.cardRounded {
    border-radius: 3em;
}
#slide-out li .divider {
    background-color: rgba(24, 24, 24, 0.5);
}
.connected h5{
    margin: 0.6rem 0 .3rem 0;
}
.connected h6{
    margin: 0;
}
.wrapper-rounded {
    padding: 0.01rem 2rem 0.01rem 2rem;
    margin: 0.5rem 0.5rem;
}
.wrapper-message {
    white-space: nowrap;
}
.wrapper-message:after {
    content: "";
    clear: both;
    display: table;
}
.wrapper-message div {    
    display: inline-block;
}
.wrapper-message .input-field {
    width: calc(100% - 25px);
    margin: 0.5rem 0.5rem;
}
.wrapper-message .input-field > * {
    display: inline-block;
}
.wrapper-message .input-field div {
    width: 100%;
}
.row .col .wrapper-message {
    padding: 0.01rem 3rem 0.01rem 0rem;
}
.card .card-image .card-title {
    top: 0;
}
.emoji-items-wrap1 .tabs .tab a.active {
    background-color: transparent;
    color: #1DE9C3;
}
.card div .inputMessage {
    padding-left:  0;
    border-bottom:  0;
    background:  transparent; 
    height: 1.5rem;
}
.btnSend {
    margin-top: 0.6rem;
    margin-right: 1.0rem;
}
.modal .modal-footer {
	background:#383838;
}
.modal-content .row input:not([type]):focus:not([readonly]), .modal-content .row input[type=text]:focus:not([readonly]),
.modal-content .row input[type=password]:focus:not([readonly]), .modal-content .row input[type=email]:focus:not([readonly]), 
.modal-content .row input[type=url]:focus:not([readonly]), .modal-content .row input[type=time]:focus:not([readonly]), 
.modal-content .row input[type=date]:focus:not([readonly]), .modal-content .row input[type=datetime]:focus:not([readonly]), 
.modal-content .row input[type=datetime-local]:focus:not([readonly]), .modal-content .row input[type=tel]:focus:not([readonly]), 
.modal-content .row input[type=number]:focus:not([readonly]), .modal-content .row input[type=search]:focus:not([readonly]),
.modal-content .row div[contenteditable="true"]:focus{
    border-bottom: 1px solid #1DE9C3;
    box-shadow: 0 1px 0 0 #1DE9C3; 
    color: white;   
} 
.modal-content .row input:not([type]):focus:not([readonly])+label, input[type=text]:focus:not([readonly])+label, 
.modal-content .row input[type=password]:focus:not([readonly])+label, .modal-content .row input[type=email]:focus:not([readonly])+label, 
.modal-content .row input[type=url]:focus:not([readonly])+label, .modal-content .row input[type=time]:focus:not([readonly])+label, 
.modal-content .row input[type=date]:focus:not([readonly])+label, .modal-content .row input[type=datetime]:focus:not([readonly])+label, 
.modal-content .row input[type=datetime-local]:focus:not([readonly])+label, .modal-content .row input[type=tel]:focus:not([readonly])+label, 
.modal-content .row input[type=number]:focus:not([readonly])+label, .modal-content .row input[type=search]:focus:not([readonly])+label,
.modal-content .row div[contenteditable="true"]+label {
    color: #1DE9C3;
}
.modal-content .row .input-field .prefix, 
.modal-content .row .input-field .prefix .active {
    color: #1DE9C3;
}
.card div input:not([type]):focus:not([readonly]), .card div input[type=text]:focus:not([readonly]),
.card div input[type=password]:focus:not([readonly]), .card div input[type=email]:focus:not([readonly]), 
.card div input[type=url]:focus:not([readonly]), .card div input[type=time]:focus:not([readonly]), 
.card div input[type=date]:focus:not([readonly]), .card div input[type=datetime]:focus:not([readonly]), 
.card div input[type=datetime-local]:focus:not([readonly]), .card div input[type=tel]:focus:not([readonly]), 
.card div input[type=number]:focus:not([readonly]), .card div input[type=search]:focus:not([readonly]), 
.card div textarea.materialize-textarea:focus:not([readonly]), .card div input:not([type]):not([readonly]), 
.card div input[type=text]:not([readonly]),.card div input[type=password]:not([readonly]), 
.card div input[type=email]:not([readonly]), .card div input[type=url]:not([readonly]), 
.card div input[type=time]:not([readonly]), .card div input[type=date]:not([readonly]), 
.card div input[type=datetime]:not([readonly]), .card div input[type=datetime-local]:not([readonly]),
.card div input[type=tel]:not([readonly]), .card div input[type=number]:not([readonly]), 
.card div input[type=search]:not([readonly]), .card div textarea.materialize-textarea:not([readonly]),
.card div div[contenteditable="true"], .card div .select-wrapper > * {
    border-bottom: 1px solid transparent;
    box-shadow: 0 1px 0 0 transparent;
    color: white;
}
.card div .select-wrapper input{
    margin: 0 0 1.0rem 0;
}
.card .input-field  i {
    color: #BDBDBD;
}
.wrapper-rounded .btn-floating i {
    color: white;
}
.card .card-image img {
    border-radius: 10px 10px 0 0;
}
.input-field .select-wrapper ul {
    background:#383838;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
.dropdown-content li:hover, .dropdown-content li.active, .dropdown-content li.selected {
    background-color: rgba(224, 224, 224, 0.5);
}
.dropdown-content li.active.selected {
    background-color: #e1e1e179;
}
.input-field .select-wrapper ul  li:not(.disabled) span {
    color: #1DE9C3;
}
.select-dropdown li.disabled, .select-dropdown li.disabled>span, .select-dropdown li.optgroup {
    color: #BDBDBD;
    background-color: transparent;
}
.content-messages{
    margin-top: 35px;
    height: 100%;
}
.content-messages-private {
    height: calc(100% - 150px);
}
.scroll-bottom, .scroll-bottom-private {
    margin-bottom: 0; 
    position: fixed; 
    bottom: 0; 
    margin-left: 50%; 
    margin-bottom: 90px;
    display: none;
}
.tabs {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    z-index: 996;
    position: fixed;
    overflow: hidden;
}
.tabs .indicator {
    background-color: #1DE9C3;
}
.tabs .tab a {
    color: #BDBDBD;
}
.side-nav li>a {
    color: #1DE9C3;
}
.side-nav li>a>i, .side-nav li>a>[class^="mdi-"], .side-nav li>a li>a>[class*="mdi-"], .side-nav li>a>i.material-icons {
    color: #1DE9C3;
}
.messages {
    width: 100%;
    list-style: none;
    border-left: none;
    border-right: none;
    height: calc(100% - 12.5rem);
    overflow-y: auto;
    margin-top: 50px;
}
.messages > li {
    margin: 10px;
    -webkit-transition: all .5s;
    transition: all .5s;
} 
.messages > li:after {
    content: '';
    clear: both;
    display: block;
  } 
.message {
    margin: 0;
    border-radius: 10px;
    line-height: 25px;
    max-width: 70%;
    word-wrap: break-word;
    position: relative;
    float: left;
}
.message .card-content .time{
    float: right;
    font-style: italic;
    margin: 10px;
}
.me {
    float: right;
}
.content-messages-private > .messages {
    margin-top: 0px;
    height: calc(100% - 9.5rem);
}
.wrapper-select-private-chat{
    padding: 0.5rem; 
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    margin-top: 48px;
}
.tabs .tab a:hover, .tabs .tab a.active {
    background-color: transparent;
    color: white;
}